/* Class Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 10px;
    margin: 0 100px;
    align-items: center;
}
header img{
    width: 70px;
}
.banner{
    height: 400px;
    width: 100%;
}
ul{
    animation-duration: 1s;
    animation-name: menuSubir;
}
@keyframes menuSubir{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Menú Desplegable */
ul li:hover ul{
    display: block;
    transition: 3s;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
}
.logo{
    width: 50px;
    margin-left: 50px;
    display: inline-block;
}
.logo:hover{
    transform: scale(1.2);
    transition: .3s;
}
/* nav{
    
}
*/
.nav-link:hover{
    color: orange;
}
/* Titulos */
h1{
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    animation-duration: 4s;
    animation-name: aparecer;
    /* animation-iteration-count: infinite; */
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


strong{
    font-size: 48px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 30px;
    padding: 10px;
}
h2,h3,h4{
    text-align: center;
    color: rgb(216, 146, 42);
    animation-name: h2chanage;
    animation-duration: 2s;
    animation-delay: 0s;
}
.h4-about{
    color: whitesmoke;
}
/* Section 1 */
.section1{
    /* background-color: rgb(97, 13, 13); */
    background: linear-gradient(to right, rgba(97, 13, 13, 0.733), black);
    width: 100%;
    position: fixed;
}
.section1 ul li{
    padding-left: 20px;
    float: left;
    list-style-type: none;
    margin-bottom: 5px;
}
.nav-item a{
    color: whitesmoke;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    color: orange;
} 
nav:hover{
    color: orange;
}
/* Section2 */
.section2{
    display: grid;
    background-image: url(../img/controlador.jpg);
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.servicio1{
    display: inline-block;
    width: 200px;
    background-color: rgba(97, 13, 13, 0.733);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: flexbox;

}
article img{
    border-radius: 20px;
    width: 150px;
}

/* Section 3 */
.section3{
    display: grid;
    background-image: url(../img/auricular-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    /* padding: 100px; */

}
.card{
    width: 18rem;
}
.card-header{
    background-color: rgba(97, 13, 13, 0.733);
    color: orange;
}
.div3{
    overflow: hidden;
    padding: 15px;
    /* background-color: rgba(139, 132, 132, 0.445); */
    background: linear-gradient(to bottom, whitesmoke, rgba(80, 78, 78, 0.445));
    border: 2px solid orange;
    text-align: center;
    animation-duration: 3s;
    animation-name: subir;
}
@keyframes subir{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.about-div3{
    overflow: hidden;
    padding: 15px;
    background-color: rgba(139, 132, 132, 0.445);
    border: 2px solid orange;
    text-align: center;
}
.servicios-div3{
    overflow: hidden;
    display: grid;
    padding: 50px;
    background-color: rgba(139, 132, 132, 0.445);
    border: 2px solid orange;
    text-align: center;
}
/*
*/
/* Section 4 */
.section4{
    width: 100%;
    padding: 50px;
    background-image: url(../img/auricular-color.jpg);
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
/*  
.section4 .fotos{
    text-align: center;
}
.section4 .fotos img{
    width: 300px;
}
.div4{
    padding: 20px;
}
/* EVENTOS */
.event{
    text-align: center;
}
.event1{
    width: 250px;
    background-color: rgba(97, 13, 13, 0.404);
    color: whitesmoke;
    display: inline-block;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    display: flexbox;
    flex-direction: row;
}
.event1:hover{
    background-color: rgba(255, 166, 0, 0.663);
    color: black;
}
/* SOBRE NOSOTROS */
.about_us{
    width: 450px;
    text-align: center;
    margin-left: 38%;
    font-size: 20px;
}
/* Section 5 */
.section5{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(97, 13, 13, 0.864), black);
}
table{
    justify-items: center;
}
th{
    background-color: rgba(97, 13, 13, 0.864);
    color: whitesmoke;
    animation-duration: 3s;
    animation-name: flash;
    animation-delay: 4s;
}

td{
    background-color: gray;
    color: whitesmoke;
}
td:hover{
    color: orange;
    background-color: rgba(97, 13, 13, 0.864);
}

/* MAIN */


main{
    background-image: url(../img/fiesta1.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
main div a{
    color:  whitesmoke;
    background-color: rgba(97, 13, 13, 0.673);
    border-radius: 10px;
}
.main-about{
    background-image: url(../img/auricular-color.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenido{
    /* padding: 50px;
    margin-bottom: 50px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.contenidoP{
    font-family: sans-serif;
    font-size: 14px;
    word-spacing: 10px;
    line-height: 18px;
    width: 500px;
    height: 200px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px orange solid;
    background-color: rgba(97, 13, 13, 0.672);
    overflow: hidden;
    color: whitesmoke;
}
.contenido h3 a{
    display: inline-block;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px orange solid;
}
.about-div3{
    display: grid;
    justify-items: center;
    justify-content: center;
}
.contenidoAbout{
    display: grid;
    height: 600px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    border: 2px orange solid;
    overflow: scroll;
}
.contenidoAbout img{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    position: sticky;
}

.div3 iframe{
    border: 2px solid orange;
    margin-top: 20px;
}
/* REDES y FOOTER */
.social a{
    line-height: 30px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}
.footer{
    padding-bottom: 20px;
    /* background-color: rgb(97, 13, 13); */
    background: linear-gradient(to left, rgba(97, 13, 13, 0.733), black);
    text-align: center;
    color: whitesmoke;
}
.footer div a img{
    width: 30px;
    padding: 2px;
    border-radius: 10px;
}
.footer div{
    padding: 15px;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}
.btn{
    background-color: rgba(97, 13, 13, 0.733);
    color: orange;
}
.btnUp{
    position: absolute;
    margin: 20px 20px;
    font-style: italic;
    text-decoration: none;
    color: white;
}
.social a img:hover{
    background-color: orange;
}
/* FORMULARIO */
.div3-form{
    overflow: hidden;
    padding: 50px;
    background-color: rgba(139, 132, 132, 0.445);
    border: 2px solid orange;
    text-align: center;
}
input:focus{
    border-color: orange;
    background-color: rgba(255, 166, 0, 0.568);
    color: black;
}
.form{
    background-image: url(../img/auricular-black.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
.maps{
    width: 280px;
    margin: 10px;
}
/* GALERIA */
.carousel{
    width: 700px;
    display: flex;
    justify-content: center;
    
}
.table{
    margin: 50px 0px;
    background-color: rgba(97, 13, 13, 0.685);
    width: 800px;
}
/*keyframes*/
@media (max-width: 1920px){
    .gal-videos iframe{
        flex-direction: column;
        width: 350px;
        height: 180px;
        margin-top: 10px;
        margin: 20px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 1024px;
        justify-content: center;
    }
}
@media (max-width: 1024px){
    .section5{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 380px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 380px;
        justify-content: center;
    }

}
 @media (max-width: 810px){
    .div3{
        justify-content: center;
        margin: 50px;
    }
    .card{
        margin: 15px;
    }
    .section4{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 700px;
        height: 250px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 680px;
        justify-content: center;
    }
} 
@media (max-width: 768px){
    .grid-container{
        grid-template-areas:
        "header header header"
        "section1 section1 section1";
    }
    .section5{
        justify-content: center;
    }
}
@media (max-width: 576px){
    .logo{
        display: none;
    }
}

@media(max-width: 412px){
    .header{
        flex-direction: column;
    }
    .header img{
        width: 60px;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
    .contenido{
        flex-direction: column;
    }
    .contenidoP{
        width: 280px;
    }
    .footer ul{
        grid-template-columns: 1fr;
    }
    .section5{
        justify-content: center;
    }
    .galeria{
        width: 200px;
    }
    .tablaEventos{
        flex-direction: column;
    }
    .table{
        margin-left: 40px;
    }
    .div3{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 380px;
        height: 150px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 380px;
        justify-content: center;
    }
}

@media (max-width: 360px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    header{
        flex-direction: column;
        justify-content: space-between;
    }
    .header nav ul{
        flex-direction: column;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 320px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 320px;
    }
    .social {
        flex-direction: column;
    }
    .tablaEventos{
        width: 280px;
        margin-left: 40px;
    }
    .section5{
        justify-content: center;
    }
    .footer{
        flex-direction: column;
    }
    .table{
        width: 350px;
        margin-left: 5px;
    }
    .div3{
        justify-content: center;
    }
    .main-about{
        flex-direction: row;
    }
}