/*Media Querry*/
@media (max-width: 1920px){
    .gal-videos iframe{
        flex-direction: column;
        width: 350px;
        height: 180px;
        margin-top: 10px;
        margin: 20px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 700px;
        margin: 50px 0px;
        justify-content: center;
    }
}
@media (max-width: 1024px){
    .section5{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 380px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 380px;
        justify-content: center;
    }

}
 @media (max-width: 810px){
    .div3{
        justify-content: center;
        margin: 50px;
    }
    .card{
        margin: 15px;
    }
    .section4{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 700px;
        height: 250px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 680px;
        justify-content: center;
    }
    .servicios-div3{
        width: 780px;
    }
    .container-table{
        width: 700px;
    }
    .table{
        width: 700px;
    }
    .table tr td{
        justify-self: center;
    }
    .djh1{
        font-size: 26px;
    }
} 
@media (max-width: 768px){
    .grid-container{
        grid-template-areas:
        "header header header"
        "section1 section1 section1";
    }
    .section5{
        justify-content: center;
    }
    table{
        width: 500px;
    }
}
@media (max-width: 576px){
    .logo{
        display: none;
    }
}

@media(max-width: 412px){
    .header{
        flex-direction: column;
    }
    .header img{
        width: 60px;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
    .contenido{
        flex-direction: column;
    }
    .contenidoP{
        width: 280px;
    }
    .footer ul{
        grid-template-columns: 1fr;
    }
    .section5{
        justify-content: center;
    }
    .galeria{
        width: 200px;
    }
    .tablaEventos{
        flex-direction: column;
    }
    .div3{
        justify-content: center;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 360px;
        height: 150px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .gal-fotos img{
        border-radius: 20px;
    }
    .carousel{
        width: 360px;
        justify-content: center;
    }
    .servicios-div3{
        width: 380px;
    }
    .container-table{
        width: 350px;
    }
    .table{
        width: 350px;
    }
    .table tr td{
        justify-self: center;
    }
    .djh1{
        font-size: 16px;
    }
  
}

@media (max-width: 360px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    header{
        flex-direction: column;
        justify-content: space-between;
    }
    .header nav ul{
        flex-direction: column;
    }
    .gal-videos iframe{
        flex-direction: column;
        width: 320px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .gal-fotos{
        border-radius: 20px;
    }
    .social {
        flex-direction: column;
    }
    .tablaEventos{
        width: 280px;
        margin-left: 40px;
    }
    .section5{
        justify-content: center;
    }
    .footer{
        flex-direction: column;
    }
    .div3{
        justify-content: center;
    }
    .main-about{
        flex-direction: row;
    }
    .carousel{
        width: 340px;
        display: flex;
        justify-content: center;
    }
    .servicios-div3{
        width: 355px;
    }
    .container-table{
        width: 330px;
    }
    .table{
        width: 330px;
    }
    .table tr td{
        justify-self: center;
    }
}