
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 10px;
    margin: 0 100px;
    align-items: center;
    img{
        width: 70px;
    }
}