/* Section 1  BEM*/
.section1{
    background: linear-gradient(to right, rgba(97, 13, 13, 0.733), black);
    width: 100%;
    position: absolute;
    header{
        background: transparent;
        .header__logo{
            width: 50px;
        }
        .header__nav{
            background-color: orange;
        }
        .header__li{
            background-color: blue;
        }
    }
}
.section1 ul li{
    padding-left: 20px;
    float: left;
    list-style-type: none;
    margin-bottom: 5px;
}
